certifi==2025.6.15
charset-normalizer==3.4.2
distro==1.9.0
httplib2==0.22.0
idna==3.10
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.7
oauthlib==3.3.1
protobuf==5.29.5
psutil==7.0.0
psycopg2-binary==2.9.10
pyparsing==3.2.3
pytz==2025.2
requests==2.32.4
ruff==0.12.2
setuptools==80.9.0
six==1.17.0
temporalio==1.13.0
types-protobuf==6.30.2.20250703
typing_extensions==4.14.0
urllib3==2.5.0
wadllib==2.0.0
